# OS files
.DS_Store

# intellij
.idea
*.iml

# composer
composer.lock
vendor/

# ignore everything that starts with '#' (or '.#', the hidden variant):
/**/[#]*
/**/.[#]*

assets/css/[-]*
assets/js/[-]*

# Note: any files with leading '#' are treated as 'commented out' by PageFactory


