/*
  Markdown Plus Styling
*/


/* === Accordion ======================= */
@charset "UTF-8";
.mdp-accordion-group details.mdp-accordion summary:has(> span:empty) {
  display: none;
}
.mdp-accordion-group details.mdp-accordion:has([data-frame]),
.mdp-accordion-group details.mdp-accordion.mdp-border {
  border: 1px solid var(--mdp-accordion-details-border-color, #ddd);
}
.mdp-accordion-group details.mdp-accordion:has(summary > span:empty):has([data-frame]):not([open]) {
  border: none;
}
.mdp-accordion-group .mdp-accordion:has([data-frame]) .mdp-accordion-body,
.mdp-accordion-group .mdp-accordion.mdp-border .mdp-accordion-body {
  border-top: 1px solid var(--mdp-accordion-border-top-color, #f3f4f6);
}
.mdp-accordion-group details.mdp-accordion:has([data-frame]) .mdp-accordion-body,
.mdp-accordion-group details.mdp-accordion.mdp-border .mdp-accordion-body {
  padding: 0.5em;
}
.mdp-accordion-group .mdp-accordion details,
.mdp-accordion-group details.mdp-accordion {
  margin-bottom: 0.5em;
  color: var(--mdp-accordion-body-txt-color);
  border: var(--mdp-accordion-details-border);
}
.mdp-accordion-group .mdp-accordion details[open],
.mdp-accordion-group details.mdp-accordion[open] {
  background: var(--mdp-accordion-details-bg);
}
.mdp-accordion-group .mdp-accordion details[open] > summary:before,
.mdp-accordion-group details.mdp-accordion[open] > summary:before {
  content: attr(data-icon-closed, "▷");
  transform: rotate(var(--mdp-icon-rotation-open, 90deg));
}
.mdp-accordion-group .mdp-accordion details > summary,
.mdp-accordion-group details.mdp-accordion > summary {
  background: var(--mdp-accordion-summary-bg, var(--mdp-accordion-details-bg));
  border-bottom: var(--mdp-accordion-details-border);
  color: var(--mdp-accordion-summary-txt-color);
  padding: 0.4em 0.2em;
  cursor: pointer;
  list-style: none;
}
.mdp-accordion-group .mdp-accordion details > summary > span,
.mdp-accordion-group details.mdp-accordion > summary > span {
  display: block;
  padding-left: 1.1em;
}
.mdp-accordion-group .mdp-accordion details > summary::marker,
.mdp-accordion-group details.mdp-accordion > summary::marker {
  content: "";
}
.mdp-accordion-group .mdp-accordion details > summary::-webkit-details-marker,
.mdp-accordion-group details.mdp-accordion > summary::-webkit-details-marker {
  display: none;
}
.mdp-accordion-group .mdp-accordion details > summary:before,
.mdp-accordion-group details.mdp-accordion > summary:before {
  content: attr(data-icon-open, "▷");
  transform: rotate(var(--mdp-icon-rotation, 0deg));
  font-family: sans-serif;
  float: left;
  line-height: 1em;
  font-size: 0.8em;
  margin: 0.25em 0.4em 0 0;
  transition: transform 0.2s;
}
.mdp-accordion-group .mdp-accordion details.right > summary:before,
.mdp-accordion-group details.mdp-accordion.right > summary:before {
  float: right;
}
.mdp-accordion-group .mdp-accordion details.right > summary > span,
.mdp-accordion-group details.mdp-accordion.right > summary > span {
  padding-left: 0;
}
.mdp-accordion-group .mdp-accordion-body {
  overflow: hidden;
  padding-bottom: 0.5em;
  padding: var(--mdp-accordion-body-padding);
}
.mdp-accordion-group .mdp-accordion-body > ul,
.mdp-accordion-group .mdp-accordion-body > ol {
  margin-top: 0;
  margin-bottom: 0;
}
.mdp-accordion-group .mdp-accordion-shadow[open] summary {
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.75);
}

.mdp-accordion-group details.mdp-accordion {
  margin-bottom: 0;
}

.mdp-accordion-group .mdp-accordion.mdp-border {
  border-top: none;
}

.mdp-accordion-group .mdp-accordion.mdp-border:first-child {
  border-top: 1px solid var(--mdp-accordion-details-border-color, #ddd);
}

.mdp-accordion-group {
  margin-bottom: 0.5em;
}

@supports selector(::details-content) {
  .mdp-accordion-group .mdp-accordion details::details-content,
  .mdp-accordion-group details.mdp-accordion::details-content {
    padding: 0 var(--mdp-accordion-details-padding, 0);
  }
  .mdp-accordion-group .mdp-accordion details[open]::details-content,
  .mdp-accordion-group details.mdp-accordion[open]::details-content {
    padding: var(--mdp-accordion-details-padding, 0);
    height: auto;
  }
  .mdp-accordion-group .mdp-accordion details::details-content,
  .mdp-accordion-group details.mdp-accordion::details-content {
    transition: padding 0.2s ease, height 0.2s ease, content-visibility 0.2s ease allow-discrete;
    height: 0;
    overflow: clip;
    background: var(--mdp-accordion-details-bg);
  }
}
@supports (interpolate-size: allow-keywords) {
  :root {
    interpolate-size: allow-keywords;
  }
  .mdp-accordion-group .mdp-accordion[open]::details-content {
    height: auto;
  }
}
@media print {
  details::details-content {
    display: block;
  }
}


/* === Tabs ====================== */
.mdp-tabs {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-template-rows: auto 1fr;
  column-gap: 1rem;
}
.mdp-tabs details {
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  grid-column: 1/-1;
  grid-row: 1/span 3;
}
.mdp-tabs details > div {
  padding-top: 1em;
  padding-bottom: 1em;
}
.mdp-tabs details::details-content {
  grid-row: 2;
  grid-column: 1/-1;
}
.mdp-tabs details:not([open])::details-content {
  display: none;
}
.mdp-tabs summary {
  grid-row: 1;
  display: grid;
  padding: 1rem;
  border-bottom: 2px solid var(--mdp-tabs-border-color, #bbb);
  cursor: pointer;
  z-index: 1;
}
.mdp-tabs details[open] summary {
  font-weight: bold;
  border-bottom: 2px solid var(--mdp-tabs-border-color, black);
}
.mdp-tabs summary {
  grid-column: var(--n)/span 1;
}

.mdp-tabs.mdp-tabs-border details > div,
.mdp-tabs-border .mdp-tabs details > div {
  padding: 1rem;
  border: 1px solid var(--mdp-tabs-border-color, gray);
  background: var(--mdp-tabs-bg-color, #eee);
}


/* === ToDo Lists ====================== */
.mdp-todo-list li {
  list-style-type: " ";
  position: relative;
  padding-left: 0.4em;
  user-select: none;
}
.mdp-todo-list li::marker {
  font-size: 1.3em;
}
.mdp-todo-list li.checked {
  list-style-type: "✓";
}
.mdp-todo-list li::before {
  content: " ";
  border: 1px solid currentColor;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  position: absolute;
  top: 0.2em;
  left: -1.4em;
}



/* === Sliding Panels ================== */
.mdp-panels-wrapper {
  --mdp-panels-width: calc(100vw - 2 * var(--mdp-page-padding, 4vw));
  width: var(--mdp-panels-width);
  overflow: hidden;
}
.mdp-panels-wrapper > div {
  width: 10000vw;
}
.mdp-panels-wrapper > div > div:first-child button.mdp-panel-arrow-prev {
  width: 0;
  padding: 0;
  border: none;
  overflow: hidden;
}
.mdp-panels-wrapper > div > div:last-child button.mdp-panel-arrow-next {
  width: 0;
  padding: 0;
  border: none;
  overflow: hidden;
}
.mdp-panel {
  display: inline-block;
  vertical-align: top;
  width: 0;
  transition-property: width;
  overflow: hidden;
  margin-top: -1px;
}
.mdp-panel.mdp-panel-open {
  width: var(--mdp-panels-width);
}
.mdp-panel > div {
  width: var(--mdp-panels-width);
}
.mdp-panel-arrows {
  display: flex;
  justify-content: space-between;
}
.mdp-panel-arrows button {
  background: transparent;
  border: none;
}
.mdp-panel-arrows .mdp-panel-arrow-prev span {
  margin-left: 0.5em;
}
.mdp-panel-arrows .mdp-panel-arrow-next span {
  margin-right: 0.5em;
}



/* === Tables ================= */
.mdp-table-wrapper .mdp-button {
    margin-bottom: 3px;
}
.mdp-table {
    border-collapse: collapse;
}
.mdp-table tr {
    vertical-align: top;
}
.mdp-table td > p, .mdp-table th > p {
    padding: 0;
    margin: 0;
}
.mdp-table td, .mdp-table th {
    padding: 0.5em 0.6em 0.2em 0.6em;
    border: 1px solid var(--mdp-table-border-color, #ddd);
    vertical-align: top;
}
.mdp-table thead th {
    background: var(--mdp-table-header-bg, #eee);
}
.mdp-table tfoot td {
    background: var(--mdp-table-footer-bg, #eee);
}


/* === Tabulators ========= */
.mdp-tabulator-outer-wrapper {
  --tt-width: var(--tt-default-width, 6em);
}
.mdp-tabulator-wrapper {
  > div {
    display: inline-block;
    vertical-align: top;

    &.tt1 {
      width: var(--tt1-width, var(--tt-width));
    }

    &.tt2 {
      width: var(--tt2-width, var(--tt-width));
    }

    &.tt3 {
      width: var(--tt3-width, var(--tt-width));
    }

    &.tt4 {
      width: var(--tt4-width, var(--tt-width));
    }

    &.tt5 {
      width: var(--tt5-width, var(--tt-width));
    }

    &.tt6 {
      width: var(--tt6-width, var(--tt-width));
    }

    &.tt-last {
      width: var(--tt-last);
    }
  }
}


/* === Icons ============== */
/*
 * Variables:
 *  --mdp-icon-size
 *  --mdp-icon-angle
 */

.mdp-icon {
  position: relative;
  display: inline-block;
  width: var(--mdp-icon-size, 1em);
  height: var(--mdp-icon-size, 1em);
  transform: translateY(0.12em);
}
a .mdp-icon {
  margin-right: 0.2em;
}
.mdp-icon > * {
  position: absolute;
  bottom: 0;
  left: 0;
  width: var(--mdp-icon-size, 1em);
  height: var(--mdp-icon-size, 1em);
  transform: rotate(var(--mdp-icon-angle, 0));
  transform-origin: center;
}

