/*
  Markdown Plus Styling
*/

/* === Accordion ============== */
details.mdp-accordion summary:has(> span:empty) {
  display: none;
}

/* frame (aka .mdp-border): */
details.mdp-accordion:has([data-frame]),
details.mdp-accordion.mdp-border {
  border: 1px solid var(--pfy-accordion-details-border-color, #ddd);
}

details.mdp-accordion:has( summary > span:empty):has([data-frame]):not([open]) {
  border: none;
}


.mdp-accordion:has([data-frame]) .mdp-accordion-body,
.mdp-accordion.mdp-border .mdp-accordion-body {
  border-top: 1px solid #f3f4f6;
}

details.mdp-accordion:has([data-frame]) .mdp-accordion-body,
details.mdp-accordion.mdp-border .mdp-accordion-body {
  padding: 0.5em;
}
.mdp-accordion details::details-content,
details.mdp-accordion::details-content {
  padding: 0 1em;
}
.mdp-accordion details,
details.mdp-accordion {
  margin-bottom: 0.5em;
}
.mdp-accordion details[open],
details.mdp-accordion[open] {
  background: var(--pfy-accordion-details-bg);
}
.mdp-accordion details[open] > summary:before,
details.mdp-accordion[open] > summary:before {
  content: attr(data-icon-closed, "▷");
  transform: rotate(var(--pfy-icon-rotation-open, 90deg));
}
.mdp-accordion details > summary,
details.mdp-accordion > summary {
  background: var(--pfy-accordion-summary-bg, var(--pfy-accordion-details-bg));
  border-bottom: var(--pfy-accordion-details-border);
  padding: 0.4em 0.2em;
  cursor: pointer;
  list-style: none; /* for Safari */
}
.mdp-accordion details > summary > span,
details.mdp-accordion > summary > span {
  display: block;
  padding-left: 1.1em;
}
.mdp-accordion details > summary::marker,
details.mdp-accordion > summary::marker {
  content: "";
}
/* for Safari: */
.mdp-accordion details > summary::-webkit-details-marker,
details.mdp-accordion > summary::-webkit-details-marker {
  display: none;
}

.mdp-accordion details > summary:before,
details.mdp-accordion > summary:before {
  content: attr(data-icon-open, "▷");
  transform: rotate(var(--pfy-icon-rotation, 0deg));
  font-family: sans-serif;
  float: left;
  line-height: 1em;
  font-size: 0.8em;
  margin: 0.25em 0.4em 0 0;
  transition: transform 0.2s;
}
/* marker right */
.mdp-accordion details.right > summary:before,
details.mdp-accordion.right > summary:before {
  float: right;
}
.mdp-accordion details.right > summary > span,
details.mdp-accordion.right > summary > span {
  padding-left: 0;
}
.mdp-accordion-body {
  overflow: hidden; /* avoid margin collapse */
  padding-bottom: 0.5em;
}
.mdp-accordion-body > ul,
.mdp-accordion-body > ol {
  margin-top: 0;
  margin-bottom: 0;
}
.pfy-accordion-shadow[open] summary{
  box-shadow: 0 5px 5px -5px rgb(0 0 0 / 75%);
}

.mdp-accordion-group details.mdp-accordion {
  margin-bottom: 0;
}
/* in case of multiple accordions: avoid double-border in between: */
.mdp-accordion-group .mdp-accordion.mdp-border {
  border-top: none;
}
.mdp-accordion-group .mdp-accordion.mdp-border:first-child {
  border-top: 1px solid var(--pfy-accordion-details-border-color, #ddd);
}
.mdp-accordion-group {
  margin-bottom: 0.5em;
}


@supports selector(::details-content) {
  .mdp-accordion details::details-content,
  details.mdp-accordion::details-content {
    padding: 0 var(--pfy-accordion-details-padding, 0);
  }

  .mdp-accordion details[open]::details-content,
  details.mdp-accordion[open]::details-content {
    padding: var(--pfy-accordion-details-padding, 0);
    height: auto;
  }

  .mdp-accordion details::details-content,
  details.mdp-accordion::details-content {
    transition: padding 0.2s ease, height 0.2s ease, content-visibility 0.2s ease allow-discrete;
    height: 0;
    overflow: clip;
    background: var(--pfy-accordion-details-bg);
  }
} /* @supports */


@supports (interpolate-size: allow-keywords) {
  :root {
    interpolate-size: allow-keywords;
  }
  .mdp-accordion[open]::details-content {
    height: auto;
  }
}

@media print {
  details::details-content {
    display: block
  }
}


/* === ToDo Lists ====================== */
.pfy-default-styling .pfy-todo-list li {
  list-style-type: " ";
  position: relative;
  padding-left: 0.4em;
  user-select: none;
}
.pfy-default-styling .pfy-todo-list li::marker {
  font-size: 1.3em;
}
.pfy-default-styling .pfy-todo-list li.checked {
  list-style-type: "✓";
}
.pfy-default-styling .pfy-todo-list li::before {
  content: " ";
  border: 1px solid currentColor;
  border-radius: 50%;
  width: 1.1em;
  height: 1.1em;
  position: absolute;
  top: 0.2em;
  left: -1.2em;
}



/* === Sliding Panels ================== */
.pfy-default-styling .mdp-panels-wrapper {
  --mdp-panels-width: calc(100vw - 2 * var(--mdp-page-padding, 4vw));
  width: var(--mdp-panels-width);
  overflow: hidden;
}
.pfy-default-styling .mdp-panels-wrapper > div {
  width: 10000vw;
}
.pfy-default-styling .mdp-panels-wrapper > div > div:first-child button.mdp-panel-arrow-prev {
  width: 0;
  padding: 0;
  border: none;
  overflow: hidden;
}
.pfy-default-styling .mdp-panels-wrapper > div > div:last-child button.mdp-panel-arrow-next {
  width: 0;
  padding: 0;
  border: none;
  overflow: hidden;
}
.pfy-default-styling .mdp-panel {
  display: inline-block;
  vertical-align: top;
  width: 0;
  transition-property: width;
  overflow: hidden;
  margin-top: -1px;
}
.pfy-default-styling .mdp-panel.mdp-panel-open {
  width: var(--mdp-panels-width);
}
.pfy-default-styling .mdp-panel > div {
  width: var(--mdp-panels-width);
}
.pfy-default-styling .mdp-panel-arrows {
  display: flex;
  justify-content: space-between;
}
.pfy-default-styling .mdp-panel-arrows button {
  background: transparent;
  border: none;
}
.mdp-panel-arrows .mdp-panel-arrow-prev span {
  margin-left: 0.5em;
}
.mdp-panel-arrows .mdp-panel-arrow-next span {
  margin-right: 0.5em;
}



/* === Tables ================= */
.mdp-table-wrapper .mdp-button {
    margin-bottom: 3px;
}
.mdp-table {
    border-collapse: collapse;
}
.mdp-table tr {
    vertical-align: top;
}
.mdp-table td > p, .mdp-table th > p {
    padding: 0;
    margin: 0;
}
.mdp-table td, .mdp-table th {
    padding: 0.5em 0.6em 0.2em 0.6em;
    border: 1px solid var(--mdp-table-border-color, #ddd);
    vertical-align: top;
}
.mdp-table thead th {
    background: var(--mdp-table-header-bg, #eee);
}
.mdp-table tfoot td {
    background: var(--mdp-table-footer-bg, #eee);
}


/* === Tabulators ========= */
.mdp-tabulator-outer-wrapper {
  --tt-width: var(--tt-default-width, 6em);
}
.mdp-tabulator-wrapper {
  > div {
    display: inline-block;
    vertical-align: top;

    &.tt1 {
      width: var(--tt1-width, var(--tt-width));
    }

    &.tt2 {
      width: var(--tt2-width, var(--tt-width));
    }

    &.tt3 {
      width: var(--tt3-width, var(--tt-width));
    }

    &.tt4 {
      width: var(--tt4-width, var(--tt-width));
    }

    &.tt5 {
      width: var(--tt5-width, var(--tt-width));
    }

    &.tt6 {
      width: var(--tt6-width, var(--tt-width));
    }

    &.tt-last {
      width: var(--tt-last);
    }
  }
}


/* === Icons ============== */
/*
 * Variables:
 *  --mdp-icon-size
 *  --mdp-icon-angle
 */

/*body {*/
/*  --mdp-icon-size: 3.0em;*/
/*  --mdp-icon-angle: 0deg;*/
/*  font-size: 3em;*/
/*}*/
/*.mdp-icon { background: yellow;}*/
/*.mdp-icon > * { background: #eeffee88;}*/


/*.mdp-link-icon,*/
.mdp-icon {
  position: relative;
  display: inline-block;
  width: var(--mdp-icon-size, 1em);
  height: var(--mdp-icon-size, 1em);
  transform: translateY(0.12em);
}
a .mdp-icon {
  margin-right: 0.2em;
}
.mdp-icon > * {
  position: absolute;
  bottom: 0;
  left: 0;
  width: var(--mdp-icon-size, 1em);
  height: var(--mdp-icon-size, 1em);
  transform: rotate(var(--mdp-icon-angle, 0));
  transform-origin: center;
}

/* list of icons, i.e. output of ListIcons():
.mdp-icon-row.mdp-icon-row {
  display: inline-block;
  margin-right: 2em;
}
.mdp-icon-row.mdp-icon-row span {
  display: inline-block;
}

.mdp-icon-row.mdp-icon-row .mdp-icon-label {
  width: 12em;
}

.mdp-icon {
  color: red;
}

.mdp-icon-sample {
  color: #bbb;
}

*/
